body {
    background-color: #141414;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 20px auto;
}

.categories {
    margin-bottom: 20px;
}

.category-button {
    background-color: #005cc4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 4px;
}

.category-button:hover {
    background-color: #f40612;
}

.shows {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.show {
    background-color: #333;
    margin: 10px;
    padding: 20px;
    width: 200px;
    border-radius: 4px;
    text-align: left;
}

.show img {
    width: 100%;
    border-radius: 4px;
}
